* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}


div.nav h1 span {
  color: #cf000f;
  font-size: 40px;
  margin-right: 30px;
}

div.nav h1 {
  font-family: Arial, Helvetica, sans-serif;
}

div.navbar {
  z-index: 3;
  position: fixed;
  display: flex;
  width: 100vw;
  margin-top: 30px;
  align-items: center;
  justify-content: space-around;
}

div.navbar div.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

div.navbar div.nav ul {
  margin-left: 10%;
  justify-content: space-evenly;
  display: flex;
  width: 40vw;
  text-align: center;
}

div.navbar ul li {
  list-style: none;
  text-transform: uppercase;
}

div.navbar ul li:nth-child(4) {
  display: none;
}

div.nav ul li a {
  font-size: 15px;
  color: white;
  transition: 0.3s ease-in-out;
}

span.svgForMobile {
  display: none;
}

div.nav ul li a:hover {
  color: #cf000f;
  transition: 0.3s ease-in-out;
}


a.mail {
  /* padding: 10px; */
  padding: 10px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.39);
}

div.social {
  position: fixed;
  left: 2%;
  top: 50%;
  transform: translate(0, -50%);
  align-items: center;
  text-align: center;
  justify-content: center;
}

div.social a svg {
  margin: 20%;
}

path.fill {
  fill: white;
  transition: 0.4s ease-in-out;
}

a:hover svg path.fill {
  fill: #cf000f;
  transition: 0.4s ease-in-out;
}

div.progress {
  position: fixed;
  width: 1.5px;
  height: 400px;
  background-color: white;
  right: 2%;
  top: 50%;
  transform: translate(0, -50%);
}

div.complete {
  position: absolute;
  width: 1.5px;
  height: 50%;
  background-color: #cf000f;
}





/* CSS for mobiles */

@media screen and (max-width:600px) {

  span.svgForMobile {
    display: contents;
  }

  div.navbar {
    background-color: black;
    border-radius: 20px 20px 0 0;
    bottom: 0;
    padding-top: 1%;
  }

  div.nav a.logo {
    display: none;
  }


  div.navbar div.nav ul {
    margin-left: auto;
    display: flex;
    width: 100vw;
    text-align: center;
  }

  a.mail {
    display: none;
  }

  div.navbar ul li:nth-child(4) {
    display:contents;
  }

  div.social{
    display: none;
  }

}
